<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <main>
    <div class="header">
      <h1>Smol Lyrics Analyzer</h1>
    </div>

    <div class="container">
      <small>Upload a song from your computer, and please wait and be patient for the results.</small>
      <input name="file" type="file" id="file_input">

      <audio id="audio" controls style='display: none;'></audio>
      <div id="results">
      </div>

      <div id="loading" style="display: none; margin-top: 20px;">
        <div class="spinner"></div>
        <p>Loading...</p>
      </div>
      <div style="margin-top: 22px; margin-bottom: 22px;"></div>
    </div>

  </main>

  <script src="/static/script.js"></script>
</body>

</html>
